html, body, #app {
    height: 100%;
    margin: 0;    
}

#app {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 10px;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    gap: 10px;
    align-items: center;
}

.toolbar span {
    border: solid var(--color-dark) 1px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    min-width: 2rem;
}

#score-wrong {
    background-color: lightcoral;
}

#score-right {
    background-color: lightgreen;
}

#score-high {
    background-color: lightsalmon;
}

.problem {
    align-self: center;
    background-color: var(--color-white);
    border: solid var(--color-dark) 2px;
    border-radius: 5px;
    font-size: 5rem;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1
}

@media screen and (min-width: 700px) {
    .problem {
        max-width: 50vw;
    }
}

@media screen and (min-height: 600px) {
    .problem {
        max-height: 25rem;
        font-size: 4rem;
    }
}

@media screen and (min-height: 800px) {
    .problem {
        max-height: 35rem;
        font-size: 6rem;
    }
}

.operation {
    display: grid;
    border-bottom: solid var(--color-dark) 4px;
    align-items: center;
    justify-items: end;
}

.operand-1 {
    grid-row: 1;
    grid-column: 2;
}

.operand-2 {
    grid-row: 2;
    grid-column: 2;
}

.operator {
    grid-row: 1 / 3;
    grid-column: 1;
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.result {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 5px;
    padding: 5px;    
    padding-right: 8px;
    min-width: 7rem;
    text-align: end;    
    cursor: pointer;
}

.animate-grow {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}
